<%= form_for (@image),html: {role: "form"} do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :source ,:type=>"hidden"%>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, class:'form-control' %>
  </div>

<% end %>
  <div class="actions">
    <button type="submit" class="btn btn-default" onclick="submitForm();" >Upload</button>
  </div>
